body {
  font-family: Arial, sans-serif;
  font-size: 23px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
  background-image: url("https://www.nammfoundation.org/sites/default/files/styles/project_article_primary_721x405/public/files/2019-09/Music%20blog.jpg?itok=O7RfJUT5");
  background-size: 180vw 180vh;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

#result {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: red;
}
p {
  text-align: center;
}
